:root {
  /* fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* text colors */
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --logo-black-color: #000000;
  --button-hover-color: #188ce8;
  --icon-color: #afb1b8;
  --icon-color-hover: #ffffff;
  --form-text-color: rgba(33, 33, 33, 0.2);
  --placeholder-text-color: rgba(117, 117, 117, 0.5);
  /* background colors */
  --main-background-color: #ffffff;
  --dark-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --footer-background-icon-color: rgba(255, 255, 255, 0.1);
  --background-color-overlay: rgba(33, 150, 243, 0.9);
  --background-thumb: rgba(47, 48, 58, 0.8);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  /* border color */
  --header-board-color: #ececec;
  --form-input-border: 1px solid rgba(33, 33, 33, 0.2);
  --border-color: #eeeeee;
  /* shadow colors */
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* animation */
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-button-border-close: 1px solid rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-top: 80px;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-top: 80px;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.scene {
  width: 370px;
  height: 294px;
  -webkit-perspective: 600px;
          perspective: 600px;
}

.scene__wrapper {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__link:hover .scene__wrapper,
.card__link:focus .scene__wrapper {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.scene__face {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.scene__face--back {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: var(--background-color-overlay);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.button:hover, .button:focus {
  background-color: var(--button-hover-color);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: var(--modal-button-border-close);
  border-radius: 50%;
  color: var(--logo-black-color);
  background-color: var(--main-background-color);
  cursor: pointer;
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.button-close:hover, .button-close:focus {
  color: var(--accent-color);
}

.button-close__icon {
  fill: currentColor;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: var(--main-background-color);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.social__link:hover, .social__link:focus {
  color: var(--icon-color-hover);
  background-color: var(--button-hover-color);
}

.social__icon {
  fill: currentColor;
}

.logo {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background-color);
  z-index: 100;
  opacity: 1;
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
  opacity: 0;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--main-background-color);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  border-radius: 4px;
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

.form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  color: var(--title-color);
}

.form__label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  color: var(--title-color);
}

.form__input-headline {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
  color: var(--main-text-color);
}

.form__input-container {
  position: relative;
  display: block;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: var(--form-input-border);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  cursor: pointer;
  -webkit-transition: border var(--transition-duration) var(--transition-timing-function);
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.form__input:focus, .form__input:hover {
  border: 1px solid #2196f3;
  outline: 0;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  pointer-events: none;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  color: var(--accent-color);
}

.form__label-textarea {
  display: block;
  margin-bottom: 20px;
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--form-text-color);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border var(--transition-duration) var(--transition-timing-function);
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.form__textarea:focus, .form__textarea:hover {
  border: 1px solid #2196f3;
  outline: 0;
}

.form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}

.form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}

.form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-text-color);
}

.form__terms-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  color: var(--title-color);
}

.form__terms-icon {
  margin-right: 8px;
  --color4: #ffffff;
  --color5: #ffffff;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form__terms-input:hover + .form__terms-icon,
.form__terms-input:focus + .form__terms-icon {
  fill: var(--color3, #2196f3);
}

.form__terms-input:checked + .form__terms-icon {
  --color4: #2196f3;
  --color5: #ffffff;
}

.form__terms-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}

.form__terms-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.form__terms-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.filter__list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-color);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
}

.filter__btn--activ {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  -webkit-box-shadow: var(--button-shadow);
          box-shadow: var(--button-shadow);
}

.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--header-board-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo--black {
  color: var(--logo-black-color);
}

.navigation__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-color);
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--active {
  position: relative;
  color: var(--accent-color);
}

.navigation__link--active::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__items:not(:last-child) {
  margin-right: 30px;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header__contact:hover, .header__contact:focus {
  color: var(--accent-color);
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: var(--dark-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/business-death-to-enemies.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/business-death-to-enemies.jpg");
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero__main-title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 696px;
  color: var(--secondary-text-color);
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  color: var(--title-color);
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item {
  margin-right: 30px;
  width: 270px;
}

.features__item:last-child {
  margin-right: 0;
}

.features__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--secondary-background-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  -webkit-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.features__icon-container:hover {
  background-color: var(--accent-color);
}

.features__icon-container:hover .features__icon {
  --color1: #ffffff;
  --color2: #000000;
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--title-color);
}

.features__text {
  font-weight: 400;
  line-height: 1.71;
}

.hobbies {
  padding-bottom: 94px;
}

.hobbies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hobbies__item {
  position: relative;
  margin-right: 30px;
}

.hobbies__item:last-child {
  margin-right: 0;
}

.hobbies__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background: var(--background-thumb);
}

.hobbies__thumb-paragraph {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.team__section {
  background-color: var(--secondary-background-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  margin-right: 30px;
  background-color: var(--main-background-color);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  border-radius: 4px 4px 4px 4px;
}

.team__item:last-child {
  margin-right: 0;
}

.team__img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.team__container {
  padding: 30px 32px;
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-color);
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
}

.clients__link:focus, .clients__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__main-title {
  color: var(--title-color);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__item {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.card__item:nth-child(3n) {
  margin-right: 0;
}

.card__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.card__link:hover, .card__link:focus {
  background: var(--main-background-color);
  -webkit-box-shadow: var(--portfolio-shadow);
          box-shadow: var(--portfolio-shadow);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--secondary-text-color);
  background-color: var(--background-color-overlay);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.card__link:hover .card__overlay,
.card__link:focus .card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.card__description:not(:last-child) {
  margin-bottom: 20px;
}

.card__pre {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  margin-top: -10px;
  margin-left: -120px;
}

.card__text-wrapper {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.card__subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.card__caption {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.card__caption-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__caption-icon {
  margin-right: 10px;
}

.footer {
  background-color: var(--dark-background-color);
  padding: 60px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address__container {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo--white {
  color: var(--secondary-text-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: color--transition-duration --transition-timing-function;
  transition: color--transition-duration --transition-timing-function;
}

.address__link--white {
  color: var(--secondary-text-color);
}

.address__link--grey {
  color: var(--footer-link-color);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.social__container {
  margin-right: auto;
}

.social__caption {
  display: block;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.social__link--footer {
  color: var(--secondary-text-color);
  background-color: var(--footer-background-icon-color);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.subscribe__caption {
  display: block;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  width: 358px;
  min-height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: var(--secondary-text-color);
  background-color: var(--dark-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-transition: border var(--transition-duration) var(--transition-timing-function);
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.subscribe__input:focus, .subscribe__input:hover {
  border-color: var(--accent-color);
  outline: 0;
}

.subscribe__label::-webkit-input-placeholder {
  color: var(--footer-link-color);
}

.subscribe__label:-ms-input-placeholder {
  color: var(--footer-link-color);
}

.subscribe__label::-ms-input-placeholder {
  color: var(--footer-link-color);
}

.subscribe__label::placeholder {
  color: var(--footer-link-color);
}

.button--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */