.card {
  display: flex;
  flex-wrap: wrap;
}

.card__item {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.card__link {
  display: block;

  text-decoration: none;

  transition: box-shadow var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background: var(--main-background-color);
    box-shadow: var(--portfolio-shadow);
  }
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  color: var(--secondary-text-color);
  background-color: var(--background-color-overlay);

  transform: translateY(101%);
  transition: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  .card__link:hover &,
  .card__link:focus & {
    transform: translateY(0);
  }
}

.card__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.card__pre {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  margin-top: -10px;
  margin-left: -120px;
}

.card__text-wrapper {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.card__subtitle {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-color);
}

.card__caption {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.card__caption-wrapper {
  display: flex;
  align-items: center;
}
.card__caption-icon {
  margin-right: 10px;
}
