.clients__list {
  display: flex;
  align-items: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: var(--icon-color);

  transition: color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);

  &:focus,
  &:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
