.footer {
  background-color: var(--dark-background-color);
  padding: 60px 0;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.address__container {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo--white {
  color: var(--secondary-text-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;

  transition: color--transition-duration --transition-timing-function;

  &--white {
    color: var(--secondary-text-color);
  }
  &--grey {
    color: var(--footer-link-color);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.social__container {
  margin-right: auto;
}

.social__caption {
  display: block;

  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.social__link--footer {
  color: var(--secondary-text-color);
  background-color: var(--footer-background-icon-color);

  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.subscribe__caption {
  display: block;

  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.subscribe__form {
  display: flex;
  align-items: center;
}
.subscribe__input {
  width: 358px;
  min-height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border-radius: 4px;
  cursor: pointer;

  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;

  color: var(--secondary-text-color);
  background-color: var(--dark-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  transition: border var(--transition-duration) var(--transition-timing-function);

  &:focus,
  &:hover {
    border-color: var(--accent-color);
    outline: 0;
  }
}

.subscribe__label::placeholder {
  color: var(--footer-link-color);
}

.button--icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}
