.hero {
  background-color: var(--dark-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/business-death-to-enemies.jpg');
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero__main-title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 696px;

  color: var(--secondary-text-color);
}
