.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;
  border: var(--modal-button-border-close);
  border-radius: 50%;
  color: var(--logo-black-color);
  background-color: var(--main-background-color);
  cursor: pointer;

  transition: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &__icon {
    fill: currentColor;
  }
}
