.filter__list {
  margin-bottom: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  color: var(--title-color);

  transition: background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: var(--button-shadow);
  }

  &--activ {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: var(--button-shadow);
  }
}
