.form__title {
  display: flex;
  justify-content: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  margin-bottom: 12px;

  color: var(--title-color);
}

.form__label {
  display: block;
  margin-bottom: 10px;
  text-align: left;

  color: var(--title-color);
}

.form__input-headline {
  display: block;
  text-align: left;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  margin-bottom: 5px;

  color: var(--main-text-color);
}

.form__input-container {
  position: relative;
  display: block;
}

.form__input {
  display: block;

  width: 100%;
  height: 40px;
  border: var(--form-input-border);

  border-radius: 4px;
  padding: 12px 12px 12px 42px;

  cursor: pointer;

  transition: border var(--transition-duration) var(--transition-timing-function);

  &:focus,
  &:hover {
    border: 1px solid #2196f3;
    outline: 0;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  fill: currentColor;
  pointer-events: none;

  transition: color var(--transition-duration) var(--transition-timing-function);

  .form__input:focus + &,
  .form__input:hover + & {
    color: var(--accent-color);
  }
}

.form__label-textarea {
  display: block;
  margin-bottom: 20px;
}

.form__textarea {
  width: 100%;
  height: 120px;

  padding: 12px 16px;
  border: 1px solid var(--form-text-color);
  border-radius: 4px;

  cursor: pointer;

  transition: border var(--transition-duration) var(--transition-timing-function);

  &:focus,
  &:hover {
    border: 1px solid #2196f3;
    outline: 0;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: var(--placeholder-text-color);
  }
}

.form__terms-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  color: var(--title-color);
}

.form__terms-icon {
  margin-right: 8px;
  --color4: #ffffff;
  --color5: #ffffff;

  transition: fill var(--transition-duration) var(--transition-timing-function);

  .form__terms-input:hover + &,
  .form__terms-input:focus + & {
    fill: var(--color3, #2196f3);
  }
  .form__terms-input:checked + & {
    --color4: #2196f3;
    --color5: #ffffff;
  }
}

.form__terms-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}

.form__terms-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.form__terms-link {
  color: var(--accent-color);
  text-decoration: underline;
}
