body {
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    padding-top: 80px;

    color: var(--main-text-color);
    background-color: var(--main-background-color);
}