// кастомні властивості або css зміні

:root {
  /* fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* text colors */
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --logo-black-color: #000000;
  --button-hover-color: #188ce8;
  --icon-color: #afb1b8;
  --icon-color-hover: #ffffff;
  --form-text-color: rgba(33, 33, 33, 0.2);
  --placeholder-text-color: rgba(117, 117, 117, 0.5);

  /* background colors */
  --main-background-color: #ffffff;
  --dark-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;

  --footer-background-icon-color: rgba(255, 255, 255, 0.1);
  --background-color-overlay: rgba(33, 150, 243, 0.9);
  --background-thumb: rgba(47, 48, 58, 0.8);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);

  /* border color */
  --header-board-color: #ececec;
  --form-input-border: 1px solid rgba(33, 33, 33, 0.2);
  --border-color: #eeeeee;

  /* shadow colors */
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  /* animation */
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-button-border-close: 1px solid rgba(0, 0, 0, 0.1);
}
